body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .course-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .course-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .course-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .course-price {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
 .btn{
    margin-top: 20px;
 }
 .alert{
  display: none;
  color: green;
  margin-bottom: 10px;
 }


